{:source-paths ["src/cljs" "src/cljc"]
 :nrepl {:port 7888
         :init-ns user
         :write-port-file true}
 :builds
 {:app {:target :browser
        :output-dir "resources/public/js/compiled"
        :asset-path "/js/compiled"
        :modules {:main {:init-fn musicaltec-app.core/init}}
        :dev {:compiler-options {:devtools true}}
        :release {:compiler-options {:optimizations :advanced}}}}}
